<form class="{{cssClass}} numenera npc flexcol" autocomplete="off">
    <div class="flexrow header">
        <div class="picture">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        </div>
        <div class="flexcol">
            <div class="flexrow npc-info">
                <h1 class="character">
                    <input type="text" name="name" value="{{actor.name}}" class="charname" />
                    <label for="data.level">{{localize "CYPHER.npc.level"}}</label>
                    <input type="text" name="data.level" value="{{data.level}}" class="level" data-dtype="Number" />
                </h1>

            </div>
            <div class="flexrow npc-stats">
                <label for="data.health.max">{{localize "CYPHER.npc.health"}}</label>
                <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number" />

                <label for="data.movement">{{localize "CYPHER.npc.movement"}}</label>
                <select name="data.movement">
                    {{#select data.movement}}
                    {{#each ranges}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <label for="data.armor">{{localize "CYPHER.npc.armor"}}</label>      
                <input type="text" name="data.armor" value="{{data.armor}}" min="0" data-dtype="Number" />
                <label for="data.damage">{{localize "CYPHER.npc.damage"}}</label>
                <input type="text" name="data.damage" value="{{data.damage}}" min="0" data-dtype="Number" />
            </div>
            <div class="npc-modifications">
                <h2>{{localize "CYPHER.npc.modifications"}}</h2>
                <textarea name="data.modifications" data-dtype="String">{{data.modifications}}</textarea>
            </div>
        </div>
    </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attacks">{{localize "CYPHER.npcActorSheet.tab.attacks"}}</a>
        <a class="item" data-tab="description">{{localize "CYPHER.npcActorSheet.tab.description"}}</a>
        <a class="item" data-tab="info">{{localize "CYPHER.npcActorSheet.tab.information"}}</a>
    </nav>

    <section id="npc-sheet-body">
        <div class="tab attacks" data-group="primary" data-tab="attacks">
            <table class="attacks">
                <thead>
                    <tr>
                        <td class="">
                            <!-- Extra empty table data for handle to properly center if we're showing icons-->
                        </td>
                        <td>
                            {{localize "CYPHER.npc.attacks.description"}}
                        </td>
                        <td>
                            <a class="attack-create" data-action="create" title="{{localize "CYPHER.npc.attacks.createTooltip"}}"><i class="fas fa-plus"></i></a>
                        </td>
                    </tr>
                </thead>
                <tbody>
                {{#each data.items.attacks as |attack|}}
                    <tr class="npcAttack" data-item-id="{{attack._id}}" data-order="{{attack.data.order}}">
                        <td class="handle">
                            <a><i class="fas fa-grip-vertical handle"></i></a>
                        </td>
                        <td class="attack-description">
                            <textarea type="text" name="data.items.attacks.{{attack._id}}.notes" placeholder="{{localize "CYPHER.npc.attacks.placeholder"}}">{{attack.notes}}</textarea>
                        </td>
                        <td>
                            <a class="attack-delete" data-action="delete" title="{{localize "CYPHER.npc.attacks.deleteTooltip"}}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="3">
                            {{{localize "CYPHER.npc.attacks.none"}}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="tab npc-description" data-group="primary" data-tab="description">
            {{editor content=data.notes target="data.notes" button=true editable=editable}}
            <button type="submit" id="save-npc-description"><i class="fas fa-feather-alt"></i>{{localize "CYPHER.pc.bio.saveChanges"}}</button>
        </div>
        <div class="tab npc-info" data-group="primary" data-tab="info">
            {{editor content=data.info target="data.info" button=true editable=editable}}
            <button type="submit" id="save-npc-info"><i class="fas fa-feather-alt"></i>{{localize "CYPHER.pc.bio.saveChanges"}}</button>
        </div>
    </section>
</form>